<div class="card">
    <div class="card-header">
        <a href="{%url 'post_detail' pk=post.pk %}" class="nav-link">{{ post.title }}</a>
    </div>
    <div class="card-body">
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
        {%if user.get_username %}
        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
        
        <button type="submit" class="btn btn-primary"> Редактировать <i class="bi bi-pencil"></i></button>
        </a>
        {%endif%}
    </div>
    <div class="card-footer text-muted">
        {{post.published_date}}
    </div>
  </div>